<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767885826715-sicd4qbj2donacf9vvfahhu68hqv8si6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767885826715-sicd4qbj2donacf9vvfahhu68hqv8si6</string>
	<key>API_KEY</key>
	<string>AIzaSyBqO7gcH9SvQQ4xFfPy9yFDHjgbbnIwHt8</string>
	<key>GCM_SENDER_ID</key>
	<string>767885826715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.qmsafe</string>
	<key>PROJECT_ID</key>
	<string>qmsafe-58cf5</string>
	<key>STORAGE_BUCKET</key>
	<string>qmsafe-58cf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767885826715:ios:08f8489c164df6259e843e</string>
</dict>
</plist>